<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>

    <link rel="stylesheet" href="/statics/layui/css/layui.css"/>

    <script type="application/javascript" src="/statics/jquery-3.4.0.min.js"></script>
    <script type="application/javascript" src="/statics/layui/layui.all.js"></script>

</head>
<body>

<form class="layui-form layui-form-pane" style="margin: 0 auto;width: 600px;padding-top: 300px">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名:</label>
        <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="required" required placeholder="请输入用户名:"
                   class="layui-input" autocomplete="off" />
        </div>
    </div>
    <div class="layui-form-item" style="padding-top: 10px">
        <label class="layui-form-label">密码:</label>
        <div class="layui-input-inline">
            <input type="password" required lay-verify="required" name="password" class="layui-input"
                   placeholder="请输入密码:" autocomplete="off" />
        </div>
    </div>
    <div class="layui-form-item">
        <input type="checkbox" value="是否保存密码" name = "remeberMe" />
    </div>
    <div class="layui-form-item">
        <a class="layui-btn layui-btn-primary" href="/api/view/comm/register" target="_parent">去注册</a>
        <button class="layui-btn layui-btn-success" lay-submit type="submit" lay-filter="login">登陆</button>
    </div>
</form>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,
            layer = layui.layer;


        var active = {

        }

        form.on('submit(login)', function (data) {
            // 请求登陆接口
            console.log(data.field)



            return false;
        })

    });
</script>
</body>
</html>